* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.w100 {
    width: 100%;
}
.w50 {
    width: 50%;
}

section.contato {
    width: 100%;
    max-width: 500px;
    margin: 60px 2% !important;
    /* border: 1px solid red; */
}

section.contato form {
    width: 100%;
    max-width: 450px;
    /* border: 1px solid blue; */
}

section.contato .inputBox {
    padding: 0 10px;
    float: left;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}

.input {
    width: 100%;
    height: 40px;
    padding-left: 9px;

    position: relative;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.877);
    outline: none;
    color: white;
    font-size: 17px;
}

.inputText {
    position: absolute;
    color: white;
    line-height: 50px;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    opacity: .5;
}

.focus .inputText {
    transform: translateY(-36px);
    -moz-transform: translateY(-36px);
    -ms-transform: translateY(-36px);
    -o-transform: translateY(-36px);
    -webkit-transform: translateY(-36px);
    font-size: 13px;
    opacity: 1;
    color: #00bcd4;
}

.inputBox textarea {
    resize: none;
    height: 100px !important;
}

.button {
    width: 130px;
    height: 45px;
    font-size: 18px;
    border: 0;
    border-radius: 22px;
    color: white;
    cursor: pointer;
    background-color: #00bcd4;
    outline: none;
}

.button:hover {
    background-color: #009cb1;
}


@media screen and (max-width: 1048px) {
    section.contato {
        margin: 40px auto !important;       
    }
}

@media screen and (max-width: 500px) {
    .w50 {
        width: 100%;
    }
}