#albun-slider img {
  padding: 15px 50px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 30px auto auto;
  max-width: 400px;
  width: 100%;
  padding: 0 16px;
}

.wrapper img {
  width: 30px;
  cursor: pointer;
}

@media (max-width: 500px) {
  #albun-slider img {
    padding: 0 10px;
    width: 100%;
  }
}
